angular.module('{{=it.appName}}').factory('{{=it.serviceName}}', [
    'serviceHelper', function (serviceHelper) {
        return serviceHelper.genService({{=it.methods}});
    }
]);

angular.module('{{=it.appName}}').factory('{{=it.modelName}}', [
    '{{=it.serviceName}}', 'serviceHelper',
    function (service, serviceHelper) {
        return serviceHelper.genModel(service);
    }
 ]);
